.list {
    padding-left: 10px;
}
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 4px 10px;
    line-height: 1.5;
    align-items: center;
}
.btn {
    padding: 5px;
    font-size: 14px;
}